body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}

.container{
  display: grid;
  height: 98vh;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 100px);
  gap: 5px;
  /* start/center/end/space-between/space-around/space-evenly */
  justify-content: center; /* alineacion horixzontal */
  align-content:  center;           /* alineacion vertical */
  color: black;
}

.items{
  background: lightblue;
  border: 1px solid rgb(255, 255, 255);
}

